<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TicTacToe.model.SettingsModel" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="TicTacToe.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<userSettings>
        <TicTacToe.model.SettingsModel>
                <setting name="Rows" serializeAs="String">
                        <value>7</value>
                </setting>
                <setting name="Columns" serializeAs="String">
                        <value>15</value>
                </setting>
        </TicTacToe.model.SettingsModel>
        <TicTacToe.Settings1>
                <setting name="NamePlayer_1" serializeAs="String">
                        <value>Павел</value>
                </setting>
        </TicTacToe.Settings1>
    </userSettings>
</configuration>